body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    font-family:Arial, sans-serif;
}

.login-box{
    width:320px;
    padding:40px;
    background:#1e293b;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.login-box h1{
    color:white;
    margin-bottom:30px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:#3b82f6;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.login-box button:hover{
    background:#2563eb;
}

#message{
    color:#22c55e;
    margin-top:15px;
}
